.main-content {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  .from-destination {
    font-size: 4rem;
    color: #2f2f2f;
    text-align: center;
    @media only screen and (max-width: 600px) {
      font-size: 2.5rem;
      margin-top: 1rem;
    }
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 4rem;
      text-align: center;
      margin-top: 8rem;
      @media only screen and (max-width: 600px) {
        font-size: 2.5rem;
        margin-top: 5rem;
      }
    }
    h2 {
      font-size: 2rem;
    }

    .ferry-container {
      position: absolute;
      top: 16vh;
      left: -100px;
      animation: 8s ease-out forwards moveToMidfromLeft;
      .ferry {
        position: relative;
        animation: 3s ease-in-out infinite running oscillateFerry;
        background-color: #000;
        height:100px;
        width:175px;
        z-index: -1;
      }
    }
    .water {
      position: absolute;
      top: 28vh;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: #3d90ff;
      animation: 3s ease-in-out .5s infinite running oscillateWaves; ;

    }
    .waves {
      position: relative;
      height: 50px;
      top: -1.5rem;
      background: radial-gradient(circle at 49% -38%, #cbe8ff00 6%, #cbe8ff00 38%, #cbe8ff 40%, #3d90ff 10%, #3d90ff);
      background-size: 75px 100px;

    }
  }
}

@keyframes moveToMidfromLeft {
  0% {left: 0; top: 19vh;}
  50% {left: 50vw; top: 20vh;}
  100% {left: 50vw; top: 19vh;}
}
@keyframes oscillateWaves {
  0% {top: 28vh;}
  50% {top: 29vh;}
  100% {top: 28vh;}
}
@keyframes oscillateFerry {
  0% {top: 0;}
  50% {top: 1vh;}
  100% {top:0;}
}